In [1]:
#imports
import numpy as np
import pandas as pd

In [37]:
!pip install pycountry

Collecting pycountry
  Downloading pycountry-22.3.5.tar.gz (10.1 MB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
    Preparing wheel metadata: started
    Preparing wheel metadata: finished with status 'done'
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from pycountry) (58.0.4)
Building wheels for collected packages: pycountry
  Building wheel for pycountry (PEP 517): started
  Building wheel for pycountry (PEP 517): finished with status 'done'
  Created wheel for pycountry: filename=pycountry-22.3.5-py2.py3-none-any.whl size=10681832 sha256=89a9add7d269d21be0b262475e5fd57fd7c76c8b331121b537f89b43b1ecf3aa
  Stored in directory: c:\users\girish senthil\appdata\local\pip\cache\wheels\e2\aa\0f\c224e473b464387170b83ca7c66947b4a7e33e8d903a679748
Successfully built pycountry
Installing collected packages: pycountry
Successfully installed pycountry-22.3.5

In [54]:
!pip install pycountry_convert

Collecting pycountry_convert
  Downloading pycountry_convert-0.7.2-py3-none-any.whl (13 kB)
Collecting pytest-mock>=1.6.3
  Downloading pytest_mock-3.7.0-py3-none-any.whl (12 kB)
Collecting pytest-cov>=2.5.1
  Downloading pytest_cov-3.0.0-py3-none-any.whl (20 kB)
Requirement already satisfied: pytest>=3.4.0 in d:\anaconda\lib\site-packages (from pycountry_convert) (6.2.5)
Requirement already satisfied: pycountry>=16.11.27.1 in d:\anaconda\lib\site-packages (from pycountry_convert) (22.3.5)
Collecting repoze.lru>=0.7
  Downloading repoze.lru-0.7-py3-none-any.whl (10 kB)
Requirement already satisfied: wheel>=0.30.0 in d:\anaconda\lib\site-packages (from pycountry_convert) (0.37.1)
Collecting pprintpp>=0.3.0
  Downloading pprintpp-0.4.0-py2.py3-none-any.whl (16 kB)
Requirement already satisfied: setuptools in d:\anaconda\lib\site-packages (from pycountry>=16.11.27.1->pycountry_convert) (58.0.4)
Requirement already satisfied: attrs>=19.2.0 in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (21.4.0)
Requirement already satisfied: iniconfig in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.1.1)
Requirement already satisfied: packaging in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (21.3)
Requirement already satisfied: pluggy<2.0,>=0.12 in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.0.0)
Requirement already satisfied: py>=1.8.2 in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.11.0)
Requirement already satisfied: toml in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.10.2)
Requirement already satisfied: atomicwrites>=1.0 in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (1.4.0)
Requirement already satisfied: colorama in d:\anaconda\lib\site-packages (from pytest>=3.4.0->pycountry_convert) (0.4.4)
Collecting coverage[toml]>=5.2.1
  Downloading coverage-6.4.1-cp38-cp38-win_amd64.whl (187 kB)
Collecting tomli
  Downloading tomli-2.0.1-py3-none-any.whl (12 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in d:\anaconda\lib\site-packages (from packaging->pytest>=3.4.0->pycountry_convert) (3.0.4)
Installing collected packages: tomli, coverage, repoze.lru, pytest-mock, pytest-cov, pprintpp, pycountry-convert
Successfully installed coverage-6.4.1 pprintpp-0.4.0 pycountry-convert-0.7.2 pytest-cov-3.0.0 pytest-mock-3.7.0 repoze.lru-0.7 tomli-2.0.1

In [38]:
import pycountry

In [3]:
df = pd.read_csv('cogs118aDATA.csv')

In [4]:
df.head()

,Entity,Code,Year,Number of executions (Amnesty International),Deaths - Meningitis - Sex: Both - Age: All Ages (Number),Deaths - Neoplasms - Sex: Both - Age: All Ages (Number),"Deaths - Fire, heat, and hot substances - Sex: Both - Age: All Ages (Number)",Deaths - Malaria - Sex: Both - Age: All Ages (Number),Deaths - Drowning - Sex: Both - Age: All Ages (Number),Deaths - Interpersonal violence - Sex: Both - Age: All Ages (Number),...,Deaths - Protein-energy malnutrition - Sex: Both - Age: All Ages (Number),Terrorism (deaths),Deaths - Cardiovascular diseases - Sex: Both - Age: All Ages (Number),Deaths - Chronic kidney disease - Sex: Both - Age: All Ages (Number),Deaths - Chronic respiratory diseases - Sex: Both - Age: All Ages (Number),Deaths - Cirrhosis and other chronic liver diseases - Sex: Both - Age: All Ages (Number),Deaths - Digestive diseases - Sex: Both - Age: All Ages (Number),Deaths - Acute hepatitis - Sex: Both - Age: All Ages (Number),Deaths - Alzheimer's disease and other dementias - Sex: Both - Age: All Ages (Number),Deaths - Parkinson's disease - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [7]:
labels = []

for i in list(df):
    if i.find('-') == -1:
        labels.append(i)
    else:
        label = i.split(' - ')[1].strip()
        labels.append(label)
print(labels)

['Entity', 'Code', 'Year', 'Number of executions (Amnesty International)', 'Meningitis', 'Neoplasms', 'Fire, heat, and hot substances', 'Malaria', 'Drowning', 'Interpersonal violence', 'HIV/AIDS', 'Drug use disorders', 'Tuberculosis', 'Road injuries', 'Maternal disorders', 'Lower respiratory infections', 'Neonatal disorders', 'Alcohol use disorders', 'Exposure to forces of nature', 'Diarrheal diseases', 'Environmental heat and cold exposure', 'Nutritional deficiencies', 'Self-harm', 'Conflict and terrorism', 'Diabetes mellitus', 'Poisonings', 'Protein-energy malnutrition', 'Terrorism (deaths)', 'Cardiovascular diseases', 'Chronic kidney disease', 'Chronic respiratory diseases', 'Cirrhosis and other chronic liver diseases', 'Digestive diseases', 'Acute hepatitis', "Alzheimer's disease and other dementias", "Parkinson's disease"]

In [8]:
to_rename = {k:v for k, v in zip(df.columns, labels)}

df = df.rename(columns = to_rename)

df.columns

Index(['Entity', 'Code', 'Year',
       'Number of executions (Amnesty International)', 'Meningitis',
       'Neoplasms', 'Fire, heat, and hot substances', 'Malaria', 'Drowning',
       'Interpersonal violence', 'HIV/AIDS', 'Drug use disorders',
       'Tuberculosis', 'Road injuries', 'Maternal disorders',
       'Lower respiratory infections', 'Neonatal disorders',
       'Alcohol use disorders', 'Exposure to forces of nature',
       'Diarrheal diseases', 'Environmental heat and cold exposure',
       'Nutritional deficiencies', 'Self-harm', 'Conflict and terrorism',
       'Diabetes mellitus', 'Poisonings', 'Protein-energy malnutrition',
       'Terrorism (deaths)', 'Cardiovascular diseases',
       'Chronic kidney disease', 'Chronic respiratory diseases',
       'Cirrhosis and other chronic liver diseases', 'Digestive diseases',
       'Acute hepatitis', 'Alzheimer's disease and other dementias',
       'Parkinson's disease'],
      dtype='object')

In [19]:
df.isna().sum() #na values
print(df.shape)

(8254, 36)

In [33]:
has_country_code = df.loc[df['Code'].notna()]
missing_country_code = df.loc[df['Code'].isna()]

In [47]:
set(missing_country_code['Entity'])

{'Africa',
 'African Region',
 'African Union',
 'America',
 'Andean Latin America',
 'Asia',
 'Australasia',
 'Australasia & Oceania',
 'Bosnia-Herzegovina',
 'Caribbean',
 'Central America & Caribbean',
 'Central Asia',
 'Central Europe',
 'Central Europe, Eastern Europe, and Central Asia',
 'Central Latin America',
 'Central sub-Saharan Africa',
 'Commonwealth',
 'Commonwealth High Income',
 'Commonwealth Low Income',
 'Commonwealth Middle Income',
 'East Asia',
 'East Asia & Pacific - World Bank region',
 'East Germany (GDR)',
 'East Timor',
 'Eastern Europe',
 'Eastern Mediterranean Region',
 'Eastern sub-Saharan Africa',
 'England',
 'Europe',
 'Europe & Central Asia - World Bank region',
 'European Region',
 'European Union',
 'G20',
 'High SDI',
 'High-income',
 'High-income Asia Pacific',
 'High-income North America',
 'High-middle SDI',
 'International',
 'Latin America & Caribbean - World Bank region',
 'Low SDI',
 'Low-middle SDI',
 'Macau',
 'Middle East & North Africa',
 'Middle SDI',
 'Nordic Region',
 'North Africa and Middle East',
 'North America',
 'Northern Ireland',
 'OECD Countries',
 'Oceania',
 'Region of the Americas',
 'Scotland',
 'Serbia-Montenegro',
 'South America',
 'South Asia',
 'South Asia - World Bank region',
 'South-East Asia Region',
 'Southeast Asia',
 'Southeast Asia, East Asia, and Oceania',
 'Southern Latin America',
 'Southern sub-Saharan Africa',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa - World Bank region',
 'Tropical Latin America',
 'Wales',
 'West Germany (FRG)',
 'Western Europe',
 'Western Pacific Region',
 'Western sub-Saharan Africa',
 'World (excluding China)',
 'World Bank High Income',
 'World Bank Low Income',
 'World Bank Lower Middle Income',
 'World Bank Upper Middle Income',
 'Zaire'}

In [48]:
missing_country_code.shape

(2048, 36)

In [46]:
df['Code'].value_counts()

AFG    30
LCA    30
NER    30
NGA    30
NIU    30
       ..
GUF     2
WLF     1
GLP     1
NCL     1
PYF     1
Name: Code, Length: 217, dtype: int64

In [75]:
## function to convert
import pycountry_convert as pc
test_cc, e = [], []
# convert country to country code
for i in missing_country_code['Entity']:
    try:
        country_code = pc.country_name_to_country_alpha3(i, cn_name_format="default")
        test_cc.append(country_code)
    except:
        e.append(i)
        
#print(set(e))

{'Southern sub-Saharan Africa', 'World Bank Low Income', 'Central Europe, Eastern Europe, and Central Asia', 'World (excluding China)', 'G20', 'Andean Latin America', 'Bosnia-Herzegovina', 'Oceania', 'Western Europe', 'Sub-Saharan Africa', 'Commonwealth Low Income', 'High-middle SDI', 'Europe', 'North America', 'Sub-Saharan Africa - World Bank region', 'England', 'Central America & Caribbean', 'South-East Asia Region', 'Southern Latin America', 'International', 'Central Asia', 'Low-middle SDI', 'Central Europe', 'East Asia', 'North Africa and Middle East', 'Central sub-Saharan Africa', 'East Germany (GDR)', 'South Asia', 'Latin America & Caribbean - World Bank region', 'European Region', 'Middle East & North Africa', 'Western sub-Saharan Africa', 'Central Latin America', 'Asia', 'High SDI', 'OECD Countries', 'Eastern Mediterranean Region', 'Serbia-Montenegro', 'Eastern sub-Saharan Africa', 'Africa', 'Nordic Region', 'West Germany (FRG)', 'Commonwealth Middle Income', 'African Union', 'High-income North America', 'High-income Asia Pacific', 'Commonwealth High Income', 'Australasia & Oceania', 'South Asia - World Bank region', 'Southeast Asia, East Asia, and Oceania', 'World Bank Lower Middle Income', 'Wales', 'Zaire', 'Low SDI', 'Western Pacific Region', 'Australasia', 'South America', 'Tropical Latin America', 'Northern Ireland', 'High-income', 'East Asia & Pacific - World Bank region', 'European Union', 'World Bank High Income', 'Caribbean', 'World Bank Upper Middle Income', 'Scotland', 'Europe & Central Asia - World Bank region', 'Region of the Americas', 'African Region', 'Commonwealth', 'Eastern Europe', 'America', 'Middle SDI', 'Southeast Asia'}

In [76]:
test_cc

['TLS', 'TLS', 'TLS', 'TLS', 'TLS', 'MAC', 'MAC', 'MAC', 'MAC']

In [77]:
#not enough country to warrant merging back into dataset, continue analysis without entries in missing_country_code

In [130]:
# convert country code to continent
#temp = list(map(lambda x: pc.country_alpha3_to_country_alpha2(x), test_cc))
#print(temp)
#continent_name = list(map(lambda x: pc.country_alpha2_to_continent_code(x), temp))
#print(continent_name)

In [92]:
#step1
step1 = lambda x: pc.country_alpha3_to_country_alpha2(x)

In [93]:
#step2
step2 = lambda y: pc.country_alpha2_to_continent_code(step1(y))

In [94]:
'''AF	Africa
AN	Antarctica
AS	Asia
EU	Europe
NA	North america
OC	Oceania
SA	South america'''

'AF\tAfrica\nAN\tAntarctica\nAS\tAsia\nEU\tEurope\nNA\tNorth america\nOC\tOceania\nSA\tSouth america'

In [95]:
has_country_code.shape

(6206, 36)

In [98]:
def continent_code(country_code):
    try:
        alpha2 = pc.country_alpha3_to_country_alpha2(country_code)
        continent_code = pc.country_alpha2_to_continent_code(alpha2)
        return continent_code
    except:
        return np.nan

In [99]:
has_country_code['Continent_Code'] = has_country_code['Code'].apply(continent_code)

C:\Users\GIRISH~1\AppData\Local\Temp/ipykernel_24800/1266357337.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  has_country_code['Continent_Code'] = has_country_code['Code'].apply(continent_code)

In [100]:
has_country_code['Continent_Code']

0       AS
1       AS
2       AS
3       AS
4       AS
        ..
8249    AF
8250    AF
8251    AF
8252    AF
8253    AF
Name: Continent_Code, Length: 6206, dtype: object

In [101]:
has_country_code.head()

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease,Continent_Code
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0,AS
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0,AS
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0,AS
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0,AS
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0,AS

In [102]:
#df[[c for c in df if c not in ['b', 'x']] 
      # + ['b', 'x']]
to_save = has_country_code
to_save.head()

,Entity,Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,...,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease,Continent_Code
0,Afghanistan,AFG,2007,15,2933.0,15925.0,481.0,393.0,2127.0,3657.0,...,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0,AS
1,Afghanistan,AFG,2008,17,2731.0,16148.0,462.0,255.0,1973.0,3785.0,...,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0,AS
2,Afghanistan,AFG,2009,0,2460.0,16383.0,448.0,239.0,1852.0,3874.0,...,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0,AS
3,Afghanistan,AFG,2011,2,2327.0,17094.0,448.0,390.0,1775.0,4170.0,...,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0,AS
4,Afghanistan,AFG,2012,14,2254.0,17522.0,445.0,94.0,1716.0,4245.0,...,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0,AS

In [104]:
to_save = to_save[['Entity', 'Code', 'Continent_Code'] + [i for i in to_save if i not in ['Entity', 'Code', 'Continent_Code']]]

In [114]:
subset_columns = ['Number of executions (Amnesty International)', 'Terrorism (deaths)']

In [115]:
to_save = to_save.dropna(subset = [i for i in to_save if i not in subset_columns])

In [118]:
to_save.head()

,Entity,Code,Continent_Code,Year,Number of executions (Amnesty International),Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
0,Afghanistan,AFG,AS,2007,15,2933.0,15925.0,481.0,393.0,2127.0,...,2439.0,1199.0,53962.0,4490.0,7222.0,3346.0,6458.0,3437.0,1402.0,450.0
1,Afghanistan,AFG,AS,2008,17,2731.0,16148.0,462.0,255.0,1973.0,...,2231.0,1092.0,54051.0,4534.0,7143.0,3316.0,6408.0,3005.0,1424.0,455.0
2,Afghanistan,AFG,AS,2009,0,2460.0,16383.0,448.0,239.0,1852.0,...,1998.0,1065.0,53964.0,4597.0,7045.0,3291.0,6358.0,2663.0,1449.0,460.0
3,Afghanistan,AFG,AS,2011,2,2327.0,17094.0,448.0,390.0,1775.0,...,1805.0,1525.0,54347.0,4785.0,6916.0,3318.0,6370.0,2365.0,1508.0,473.0
4,Afghanistan,AFG,AS,2012,14,2254.0,17522.0,445.0,94.0,1716.0,...,1667.0,3521.0,54868.0,4846.0,6878.0,3353.0,6398.0,2264.0,1544.0,482.0

In [124]:
to_save = to_save.fillna(0)

In [125]:
to_save.isna().sum()

Entity                                          0
Code                                            0
Continent_Code                                  0
Year                                            0
Number of executions (Amnesty International)    0
Meningitis                                      0
Neoplasms                                       0
Fire, heat, and hot substances                  0
Malaria                                         0
Drowning                                        0
Interpersonal violence                          0
HIV/AIDS                                        0
Drug use disorders                              0
Tuberculosis                                    0
Road injuries                                   0
Maternal disorders                              0
Lower respiratory infections                    0
Neonatal disorders                              0
Alcohol use disorders                           0
Exposure to forces of nature                    0
Diarrheal diseases                              0
Environmental heat and cold exposure            0
Nutritional deficiencies                        0
Self-harm                                       0
Conflict and terrorism                          0
Diabetes mellitus                               0
Poisonings                                      0
Protein-energy malnutrition                     0
Terrorism (deaths)                              0
Cardiovascular diseases                         0
Chronic kidney disease                          0
Chronic respiratory diseases                    0
Cirrhosis and other chronic liver diseases      0
Digestive diseases                              0
Acute hepatitis                                 0
Alzheimer's disease and other dementias         0
Parkinson's disease                             0
dtype: int64

In [128]:
to_save.to_csv('cleaned_data_COGS118A.zip')

In [129]:
to_save.describe()

,Year,Meningitis,Neoplasms,"Fire, heat, and hot substances",Malaria,Drowning,Interpersonal violence,HIV/AIDS,Drug use disorders,Tuberculosis,...,Protein-energy malnutrition,Terrorism (deaths),Cardiovascular diseases,Chronic kidney disease,Chronic respiratory diseases,Cirrhosis and other chronic liver diseases,Digestive diseases,Acute hepatitis,Alzheimer's disease and other dementias,Parkinson's disease
count,6206.000000,6206.000000,6.206000e+03,6206.000000,6206.000000,6206.000000,6206.000000,6.206000e+03,6206.000000,6.206000e+03,...,6206.000000,6206.000000,6.206000e+03,6.206000e+03,6.206000e+03,6.206000e+03,6.206000e+03,6206.000000,6.206000e+03,6206.000000
mean,2004.456171,3392.746052,7.406295e+04,1161.563809,8168.547696,3320.889140,4113.996455,1.172431e+04,856.116339,1.477941e+04,...,3878.581051,108.396229,1.443316e+05,9.320400e+03,3.371739e+04,1.208174e+04,2.115906e+04,1219.935707,9.596294e+03,2314.475508
std,8.661357,25465.065678,5.591859e+05,8574.809719,61538.666038,25827.112463,30222.793695,9.115675e+04,6847.893383,1.135392e+05,...,30812.012709,1165.576731,1.077875e+06,7.077313e+04,2.628105e+05,8.917629e+04,1.561608e+05,9846.758635,7.420906e+04,17742.344115
min,1990.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000
25%,1997.000000,14.000000,7.550000e+02,16.000000,0.000000,32.000000,38.000000,1.000000e+01,3.000000,3.300000e+01,...,5.000000,0.000000,1.891750e+03,1.340000e+02,2.580000e+02,1.412500e+02,2.590000e+02,2.000000,8.300000e+01,25.000000
50%,2004.000000,108.000000,5.572000e+03,125.000000,0.000000,175.000000,262.000000,1.330000e+02,20.000000,4.115000e+02,...,90.000000,0.000000,1.160150e+04,8.125000e+02,1.672000e+03,1.197500e+03,2.173000e+03,15.000000,6.580000e+02,163.000000
75%,2012.000000,859.250000,2.029600e+04,451.000000,406.500000,701.000000,878.750000,1.906750e+03,130.000000,2.960250e+03,...,1057.000000,1.000000,4.301025e+04,2.952000e+03,5.294500e+03,3.572500e+03,6.133500e+03,163.000000,2.472750e+03,614.000000
max,2019.000000,432524.000000,1.007964e+07,129705.000000,961129.000000,460665.000000,463129.000000,1.844490e+06,128083.000000,1.808478e+06,...,656314.000000,44490.000000,1.856251e+07,1.427232e+06,3.974315e+06,1.472012e+06,2.557689e+06,166405.000000,1.623276e+06,362907.000000

In [131]:
to_save.shape

(6206, 37)

In [ ]:
#done